DB_HOST=alerts_postgres_db
DB_NAME=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
REDIS_HOST=alert_service_redis
REDIS_PORT=6379
REDIS_PASSWORD=
SMTP_LOGIN=
SMTP_PASSWORD=
RABBITMQ_URL=amqp://USER:PASS@shared_rabbitmq:5672/